AUTENTIQUE_TOKEN=SEU_TOKEN
SIGNER_EMAIL=EMAIL_CONTA
SOURCE_DIR=LOCAL_RELAÇÃO_E_ARQUIVOS
RELATION_FILE=relação.csv (INSERIR A RELAÇÃO NO MESMO LUGAR QUE OS PDFs)
AUTENTIQUE_URL=https://api.autentique.com.br/v2/graphql
DELAY_MS=10000
MAX_RETRIES=3
RETRY_BASE_MS=15000
SIGNED_DIR=dados/assinados
